<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965259652279-mcku1ssvg18h0tvpkl9282tth6b3rm6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965259652279-mcku1ssvg18h0tvpkl9282tth6b3rm6g</string>
	<key>API_KEY</key>
	<string>AIzaSyDCPxsawA2RbxNkaPAN8gP1guGObnUickk</string>
	<key>GCM_SENDER_ID</key>
	<string>965259652279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.southernTour</string>
	<key>PROJECT_ID</key>
	<string>sothern-tour-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sothern-tour-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965259652279:ios:b134b29d650fb7ebb53132</string>
</dict>
</plist>